.add_btn {
  background-color: var(--color-3) !important;
  color: #fff !important;
  border-radius: 50px !important;
  padding: 7px 30px !important;
  border: none !important;
  outline: none !important;
  min-width: 100px !important;
  width: max-content;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 10px;
  font-size: clamp(0.8rem, 0.9vw, 1rem) !important;
  font-family: "iranYekan", sans-serif !important;
  line-height: 20px !important;
}
.search_btn {
  gap: 20px !important;
}

.disabled_btn {
  transition: all 0.3sease-in;
  background-color: #f2f2f2 !important;
  color: var(--color-21) !important;
  border-radius: 50px !important;
  padding: 9px 15px !important;
  border: none !important;
  outline: none !important;
  min-width: 130px !important;
  width: max-content !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 10px;
  font-size: 0.9rem !important;
  font-family: "iranYekan", sans-serif !important;
  line-height: 20px !important;
}
.search_btn_modal {
  width: 100% !important;
}
.edit_delete_btn {
  background-color: var(--color-3) !important;
  color: #fff !important;
  border-radius: 50px !important;
  padding: 10px !important;
  border-radius: 100px !important;
  border: none !important;
  outline: none !important;
  min-width: 40px !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.outline_btn {
  outline: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border: 1px solid var(--color-3) !important;
  color: var(--color-3) !important;
  padding: 7px 30px !important;
  background-color: #fff !important;
  min-width: 100px !important;
  gap: 10px;
  font-size: clamp(0.8rem, 0.9vw, 1rem) !important;
  font-family: "iranYekan", sans-serif !important;
  line-height: 20px !important;
}
@media (min-width: 600px) {
  .outline_btn {
    min-width: 130px !important;
    padding: 9px 20px !important;
  }
  .add_btn {
    min-width: 130px !important;
    padding: 9px 20px !important;
  }
}

@media (max-width: 600px) {
  .width {
    width: 100%;
  }
}
