.occultationItem_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.title {
    color: var(--color-1);
    font-weight: bold;
}

.subtitle {
    color: var(--color-1);
}
