.wrapper_info {
  margin-top: 1.5rem;
  border-bottom: 1px solid #9f9f9f;
  padding-bottom: 25px;
}

.title {
  color: var(--color-1);
  font-weight: 600;
  font-size: 1.1rem;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.item_content {
  color: var(--color-3);
  margin-top: 1.3rem;
}

.key_item {
  font-weight: 600;
  font-size: 0.95rem;
}

.value_item {
  font-weight: 400px;
  margin-right: 5px;
  font-size: 0.9rem;
}

.payment_method {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info_paziresh_wrapper {
  margin-top: 1.3rem;
}

.prices_wrapper {
  margin-top: 2rem;
  /* overflow: hidden; */
}

.invoice_content {
  background-color: #fff;
  box-shadow: #00000040;
  border-radius: 5px;
}

.invoice_header {
  padding: 15px 20px;
  color: var(--color-1);
  font-weight: 600;
}

.invoice_title {
  display: inline-block;
  border-bottom: 1px solid #000;
  width: 100%;
  padding-bottom: 10px;
}

.wrap_fund_item {
  padding-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
  }
}
