.title_back {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search_container {
  display: flex;
  flex-direction: column;
}
.title {
  font-weight: bold;
  color: var(--color-3);
  font-size: 1.1rem;
}
.search_box {
  display: flex;
  align-items: end;
  gap: 1rem;
}

.wrap_input {
  width: 20vw;
}

.btn {
  display: flex;
  align-items: center;
  gap: 3px;
  color: var(--color-3);
  background-color: transparent;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .wrap_input {
    width: 25vw;
  }
}

@media (max-width: 992px) {
  .wrap_input {
    width: 30vw;
  }
}

@media (max-width: 768px) {
  .wrap_input {
    width: 40vw;
  }
}

@media (max-width: 640px) {
  .wrap_input {
    width: 100%;
  }
  .search_box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
