
.input_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-8);
    border-radius: var(--border-radius-1);
    padding: 0 10px;
    max-width: 240px;
    background-color: #f7f7f7;
}

.input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    padding: 10px 10px;
}

.input::placeholder {
    color: var(--color-21);
    font-size: .9rem;
}

.icon {
    color: var(--color-3);
}