.text-home {
  font-weight: 700;
  color: var(--color-1);
  margin-top: 1.3rem;
}

.home-item {
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow-2);
  height: 100%;
}

.titleone,
.value-one {
  text-align: center;
  font-weight: bold;
}

.titleone {
  color: var(--color-3);
}

.value-one {
  color: var(--color-1);
  font-size: 2rem;
}

.item-box2 {
  color: #4c6fff;
  text-decoration: underline;
}
