.modal_container {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: -10;
}

.showmodal {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.closemodal {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  cursor: pointer;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
}

.modal_contant {
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: var(--border-radius-1);
  background-color: #fff;
  z-index: 12;
  padding: 20px;
  min-width: 30vw;
  position: relative;
  pointer-events: auto;
  max-height: 90vh;
  overflow-y: auto;
}

@media (max-width: 600px) {
  .modal_contant {
    width: 95%;
  }
}
