.input_content_wrapper {
  border: 1px solid var(--color-8);
  border-radius: var(--border-radius-1);
  padding: 10px 9px 10px 15px;
  background-color: var(--color-20);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input_content_wrapper input::placeholder {
  color: var(--color-21);
  opacity: 1;
  font-size: clamp(0.8rem, 0.9vw, 1rem);
  font-weight: 500 !important;
}
.input_form {
  all: unset;
  width: 100% !important;
  border: none;
  outline: none;
  background: transparent;
  font-size: clamp(0.9rem, 0.9vw, 1rem);
}
.icon_input {
  color: var(--color-1);
}
.label_input {
  font-family: "iranYekan", sans-serif !important;
  color: #15616d;
  font-weight: 600 !important;
  font-size: 0.9rem !important;
}
.helper_text_input {
  font-family: "iranYekan", sans-serif !important;
  font-size: clamp(0.6rem, 0.7vw, 0.8rem) !important;
  color: var(--color-17);
  font-weight: normal;
  padding-right: 0.5rem;
}
.textfield_form_modal {
  font-family: "iranYekan", sans-serif !important;
  border-radius: var(--border-radius-1);
  border: 1px solid var(--color-8);
  background-color: var(--color-20);
  width: 100%;
  padding: 5px 10px;
}
.textfield_form_modal::placeholder {
  font-family: "iranYekan", sans-serif !important;
  color: var(--color-21);
  opacity: 1;
  font-size: clamp(0.8rem, 0.9vw, 1rem);
  resize: none !important;
  font-weight: 500 !important;
}
textarea {
  resize: none !important;
  font-size: clamp(0.9rem, 0.9vw, 1rem);
  font-family: "iranYekan", sans-serif !important;
  /* font-weight: 600; */
  min-height: 80px;
}
textarea:focus-visible {
  outline: none;
}
