.wrap_repairs {
  max-height: 100vh;
  overflow-y: scroll;
}

.wrap_actions_repairs {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  gap: 20px;
  justify-items: end;
}

.trash_row_table {
  cursor: pointer;
  color: var(--color-17);
}
.edit_row_table {
  cursor: pointer;
  color: var(--color-3);
}

.wrap_actions_repairs {
  padding-bottom: 3rem;
}

@media (max-width: 600px) {
  .wrap_actions_repairs {
    flex-direction: column;
  }
}
