.box {
  background-color: #fff;
  border-radius: var(--border-radius-1);
  box-shadow: 0px 2px 15px 0px #e5e5e5;
  padding: 10px 20px 20px 30px;
  margin-top: 1rem;
}

.box_title {
  color: var(--color-1);
}

.sub_title {
  font-weight: 600;
  color: var(--color-1);
  margin-top: 2rem;
}

.occultationItem_container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.wrap_contract {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-3);
  font-weight: bold;
  border-bottom: 1px solid var(--color-3);
  cursor: pointer;
  width: max-content;
}

.trash_row_table {
  cursor: pointer;
  color: var(--color-17);
}
.edit_row_table {
  cursor: pointer;
  color: var(--color-3);
}
