.wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.unread {
  background-color: #f7f7f7;
  border: 1px solid #eeeeee;
}

.read {
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  opacity: 0.85;
}

.notif_header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.notif_title {
}

.notif_text {
  font-size: 0.9rem;
}
.wrapper:hover {
  background-color: #8080801a;
}

.modal_content {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 1rem;
}

.modal_title {
  font-weight: 700;
  color: #14213d;
}

.modal_text {
  line-height: 1.6;
  color: #071b2d;
}
