.offcanvas {
  width: 250px !important;
  border-radius: var(--border-radius-2) 0 0 var(--border-radius-2);
  background-color: var(--color-3) !important;
}

.header {
  display: flex;
  width: 100%;
  justify-content: end;
  cursor: pointer;
}

.wrap_close {
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.close_icon {
  font-size: 1.2rem;
  color: #fff;
}

.canvasitem {
  display: flex;
  align-items: start;
  gap: 10px;
  text-decoration: none;
  margin-bottom: 1.7rem;
  color: #fff;
  padding: 7px 15px 4px 10px;
  border-radius: 50px;
}

.icon_offcanvas_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_offcanvas {
  font-size: 1.3rem;
}

.canvas_item_text {
  font-size: 1.1rem;
}

.logout_item {
  margin-top: 3.5rem;
}

.offcanvas_wrap_submenu {
  display: flex;
  flex-direction: column;
}

.offcanvas_submenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.submenu {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.submenu.open {
  max-height: 500px;
}

.submenu_item {
  color: #ccc;
  font-size: 0.9rem;
  transition: background 0.2s ease;
  text-decoration: none;
  margin-top: 0.8rem;
  width: 100%;
  margin-right: 2rem;
}

.submenu_item:hover {
  color: #fff;
}

.submenu_item.active {
  color: #fff;
}
