.selectDropDown_container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input_container {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid var(--color-8);
  border-radius: var(--border-radius-1);
  padding: 10px;
  background-color: var(--color-20);
}

.input_dropdown {
  outline: none;
  border: none;
  flex-grow: 1;
  background-color: transparent;
}

.arrow_icon {
  margin-left: 8px;
  color: var(--color-3);
  font-size: 16px;
  cursor: pointer;
}

.list_dropdwon {
  position: absolute;
  list-style: none;
  right: 0;
  z-index: 4;
  background-color: var(--color-20);
  width: 100%;
  border-radius: var(--border-radius-1);
  border: 1px solid var(--color-8);
  padding: 0;
  max-height: 220px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.positionlist {
  top: 110%;
}

.positionlisttop {
  bottom: 90%;
}

.list_dropdwon::-webkit-scrollbar {
  display: none;
}

.item_dropdown {
  padding: 10px;
  color: var(--color-3);
  cursor: pointer;
}

.item_dropdown:hover {
  background-color: #a8a4a4d1;
  color: #fff;
}

.disabled_item {
  pointer-events: none;
  color: var(--color-8);
  font-style: italic;
}

.arrow_icon {
  font-size: 18px;
  color: var(--color-3);
  margin-left: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.arrow_icon:hover {
  transform: scale(1.1);
}

.width {
  min-width: 300px;
}

@media (min-width: 600px) {
  .select_car_wrapper {
    max-width: 215.18px;
  }
}

@media (max-width: 600px) {
  .width {
    width: 100%;
  }

  .select_car_wrapper {
    width: 100%;
  }
}
