* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #15616d;
  --color-3: #3e846b;
  --color-5: #02a47b;
  --color-6: #00c494;
  --color-7: #9f9f9f;
  --color-8: #e5e5e5;
  --color-9: #edf2f4;
  --color-10: #edf6f9;
  --color-11: #f0ebd8;
  --color-12: #f2f2f2;
  --color-13: #071b2d;
  --color-14: #14213d;
  --color-15: #284b63;
  --color-16: #4c6fff;
  --color-17: #c1121f;
  --color-18: #d90429;
  --color-19: #f14444;
  --color-20: #f7f7f7;
  --color-21: #c3c3c3;
  --color-22: #eeeeee;
  --box-shadow-1: 0px 2px 4px 0px #00000040;
  --box-shadow-2: 0px 2px 15px 0px #e5e5e5;
  --border-radius-1: 10px;
  --border-radius-2: 20px;
}

body {
  direction: rtl;
  background-color: #f9f9f9;
  max-width: 2576px;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

p {
  margin-bottom: 0;
}

.navlink {
  text-decoration: none;
}

.input_form {
  all: unset;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
}

.headerP {
  border-bottom: 1px solid #c3c3c3;
  padding: 10px;
}

.headerPtext {
  color: var(--color-3);
  font-weight: bold;
}

.form-container {
  position: relative;
  width: 100%;
  z-index: 2;
}

.input_content_wrapper {
  border: 1px solid var(--color-8);
  border-radius: var(--border-radius-1);
  padding: 10px 9px 10px 15px;
  background-color: var(--color-20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.input_content_wrapper input::placeholder {
  color: var(--color-21);
  opacity: 1;
  font-size: clamp(0.8rem, 0.9vw, 1rem);
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "iranYekan";
  src: url("/public/fonts/light/iranyekanweblight.ttf") format("ttf"),
    url("/public/fonts/light/iranyekanweblight.woff2") format("woff2"),
    url("/public/fonts/light/iranyekanweblight.woff") format("woff"),
    url("/public/fonts/light/iranyekanweblight.eot") format("eot"),
    url("/public/fonts/light/iranyekanweblight.otf") format("otf"),
    url("/public/fonts/bold/iranyekanwebbold.ttf") format("ttf"),
    url("/public/fonts/bold/iranyekanwebbold.woff2") format("woff2"),
    url("/public/fonts/bold/iranyekanwebbold.woff") format("woff"),
    url("/public/fonts/bold/iranyekanwebbold.eot") format("eot"),
    url("/public/fonts/bold/iranyekanwebbold.otf") format("otf");
}
@font-face {
  font-family: "poppins";
  src: url("/public/fonts/Poppins/Poppins-Light.ttf") format("ttf"),
    url("/public/fonts/Poppins/Poppins-Bold.ttf") format("ttf");
}

html,
body {
  font-family: "iranYekan", sans-serif !important;
  font-weight: 400;
}

.label_input {
  color: var(--color-1);
  margin-right: 8px;
  font-size: clamp(0.8rem, 0.9vw, 1rem);
  font-weight: bold;
  font-family: "iranYekan", sans-serif !important;
}

.distancerow {
  margin: 1rem 0;
}

.deleteIcon {
  color: var(--color-17);
  font-size: 1.1rem;
  cursor: pointer;
}

.wrap_button_repairs {
  margin: 1.8rem 0 10px 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "iranYekan", sans-serif !important;
  background-color: transparent;
}

::placeholder {
  font-family: "iranYekan", sans-serif;
}
.scroll-contant {
  max-height: 100vh;
  overflow-y: scroll;
}

.title_top {
  font-size: 1rem !important;
  font-weight: 600 !important;
  color: #15616d;
}
@media print {
  .no-print {
    display: none !important;
  }
}

@media (max-width: 600px) {
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
}

/* Desktop */
@media only screen and (min-width: 1025px) {
}
