.checkbox_container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.checkbox_container label {
  margin-right: 10px;
  cursor: pointer;
  color: var(--color-1);
}

.check_input {
  accent-color: var(--color-1);
}

.check_input:disabled {
  opacity: 1 !important;
  cursor: pointer !important;
}

.checkbox_container:has(.check_input:disabled) label {
  cursor: pointer !important;
  opacity: 1 !important;
}

.lable_check {
}

.wrap_checkbox_dec {
}

.wrap_checkbox {
  width: 200px;
  max-width: 200px;
  height: 63px;
  resize: none;
}

.wrap_checkbox.wrap_checkbox::placeholder {
  font-size: 0.9rem;
}

.textarea {
  outline: none;
  border: 1px solid var(--color-8);
  border-radius: var(--border-radius-1);
  padding: 5px 15px;
  background-color: #f7f7f7;
  resize: none;
}

.main_text {
  font-weight: 600;
}
